---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { NavBar } from '../components/NavBar.jsx';
import { Banner } from '../components/Banner.jsx';
import { Skills } from '../components/Skills.jsx';
import { Project } from '../components/Project.jsx';
import { Contact } from '../components/Contact.jsx';
import { Footer } from '../components/Footer.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />  <!-- Se agrega la metaetiqueta para definir UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berrocal's Portfolio</title>
  </head>
  <body>
    <main>
      <NavBar client:load />
      <Banner client:load />
      <Skills client:only="react" />
      <Project client:only="react"/>
      <Contact client:only="react"/>
      <Footer client:only="react"/>
    </main>
  </body>
</html>
